nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 10vh;
    background-color: #2E3047;
    color: #3BBA9C;
    box-shadow: 0px 5px 12px 2px rgba(15, 15, 15, 0.3);
    position: relative;
    z-index: 999;
}

.navLinks {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    text-align: center;
    list-style: none;
}